h2 {
  font-family: 'Press Start 2P', sans-serif;
  text-align: center;
}
h4 {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 1.2em;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 20%;
}
.sidebar {
  background: lightgrey;
  border-radius: 5px;
  height: 600px;
  width: 100%;
}
#game-holder {
  height: 600px;
  width: 600px;
}
.game-description, .legend-item {
  margin-left: 15px;
  margin-right: 15px;
}